---
import Layout from "@layouts/Layout.astro";
import Footer from "@components/Footer.astro";

const metadata = {
  title: "Kontak",
  description: "Kontak kami.",
};

---

<Layout {...metadata}>
  <section class="flex flex-col items-center">
    <h1 class="sm:text-4xl text-3xl font-bold mb-6 dark:text-white">Silakan tinggalkan pesan di bawah ini</h1>
  </section>
  <section class="flex flex-col gap-2">
    <form action="https://api.web3forms.com/submit" method="POST">
      <input type="hidden" name="access_key" value="ce0133ad-3bb6-471f-ab03-4b985c3e7808">
      <div class="form-control w-full max-w-xs">
        <label class="label">
          <span class="label-text dark:text-white">Nama anda?</span>
        </label>
        <input type="text" placeholder="Ketik disini" name="name" class="input input-bordered w-full max-w-xs focus:input-primary dark:text-black" required />
      </div>
      <div class="form-control w-full max-w-xs">
        <label class="label">
          <span class="label-text dark:text-white">Email anda?</span>
        </label>
        <input type="email" placeholder="Ketik disini" name="email" class="input input-bordered w-full max-w-xs focus:input-primary dark:text-black" required />
      </div>
      <div class="form-control w-full max-w-xs">
        <label class="label">
          <span class="label-text dark:text-white">Nomer handphone/WA?</span>
        </label>
        <input type="tel" placeholder="Ketik disini" name="phone" class="input input-bordered w-full max-w-xs focus:input-primary dark:text-black"/>
      </div>
      <div class="form-control">
        <label class="label">
          <span class="label-text dark:text-white">Pesan anda</span>
          
        </label>
        <textarea class="textarea textarea-bordered h-48 max-w-xs focus:input-primary dark:text-black" name="message" placeholder="Ketik pesan anda disini"></textarea>
      </div>
      <input type="hidden" name="redirect" value="https://puwsi-irdba.netlify.app/thanks">
      <div class="flex max-w-xs justify-center">

        <button type="submit" class="btn btn-primary mt-5 w-full">Kirim</button>
      </div>
    </form>
  </section>
  <Footer />
</Layout>