<div class="carousel w-full rounded-lg">
  <div id="slide1" class="carousel-item relative w-full">
    <img src="https://res.cloudinary.com/primayuda/image/upload/v1677327858/PUWSI/foto3_kwfcxg.jpg" class="w-full" />
    <div class="absolute bottom-0 w-full px-5 py-3 bg-black/40 text-center text-white">Stand PUWSI di DXI 2022</div>
    <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
      <a href="#slide4" class="btn btn-circle">❮</a> 
      <a href="#slide2" class="btn btn-circle">❯</a>
    </div>
  </div> 
  <div id="slide2" class="carousel-item relative w-full">
    <img src="https://res.cloudinary.com/primayuda/image/upload/v1677327858/PUWSI/foto5_y1jk8a.jpg" class="w-full" />
    <div class="absolute bottom-0 w-full px-5 py-3 bg-black/40 text-center text-white">Kunjungan WaKemenparekraf ke stand PUWSI DXI 2022</div>
    <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
      <a href="#slide1" class="btn btn-circle">❮</a> 
      <a href="#slide3" class="btn btn-circle">❯</a>
    </div>
  </div> 
  <div id="slide3" class="carousel-item relative w-full">
    <img src="https://res.cloudinary.com/primayuda/image/upload/v1677327858/PUWSI/foto4_iiwv7o.jpg" class="w-full" />
    <div class="absolute bottom-0 w-full px-5 py-3 bg-black/40 text-center text-white">Diskusi Pengurus dan Pengawas PUWSI</div>
    <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
      <a href="#slide2" class="btn btn-circle">❮</a> 
      <a href="#slide4" class="btn btn-circle">❯</a>
    </div>
  </div> 
  <div id="slide4" class="carousel-item relative w-full">
    <img src="https://res.cloudinary.com/primayuda/image/upload/v1677327937/PUWSI/fotoMunas2022_vx4vio.jpg" class="w-full" />
    <div class="absolute bottom-0 w-full px-5 py-3 bg-black/40 text-center text-white">Munas III PUWSI 2021</div>
    <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
      <a href="#slide3" class="btn btn-circle">❮</a> 
      <a href="#slide1" class="btn btn-circle">❯</a>
    </div>
  </div>
</div>