---
import { Icon } from "astro-icon";

---

<footer class="footer mt-10 items-center p-4 bg-white dark:bg-neutral dark:text-neutral-content">
  <div class="items-center grid-flow-col">
    <img src="/logopuwsi.png" width="80" />
    <p>Copyright PUWSI/IRDBA © 2023 - All right reserved</p>
  </div> 
  <div class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
    <a href="https://wa.me/6281314075699" target="_blank"><Icon name="mdi:whatsapp" class="w-8 h-8" /></a>
    <a href="https://www.instagram.com/puwsi/" target="_blank"><Icon name="mdi:instagram" class="w-8 h-8" /></a>
    <a href="mailto:sekretariat@puwsi.org"><Icon name="ic:outline-email" class="w-8 h-8" /></a>
    </div>
</footer>
